on:
  push:
    branches: [main]
    paths:
      - "python/**"

  pull_request:
    branches: [main]
    paths:
      - "python/**"

jobs:
  python-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Debug directories
        run: |
          echo "Listing python structure:"
          ls -R python

      - name: Run Tests
        run: |
          for dir in python/*; do
            if [ -d "$dir/tests" ]; then
              echo "Running tests in $dir"
              python -m unittest discover -s "$dir/tests"
            fi
          done
